<div class="container">
  <div class="footer-logo">
    {{ partial "footer/logo.html" }}
  </div>
  <div>
    <p>
      <img src="/assets/images/logo/logo-defonce.svg" alt="" height="45" width="45">
      Un site du <a href="https://www.mediadesignlab.fr" target="_blank">Media Design lab</a>
    </p>
    <p>
      Structure de recherche-formation-innovation dédiée au monde des médias de <a href="https://lecolededesign.com" target="_blank">L'École de design Nantes Atlantique</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="footer-social">
    {{ partial "footer/social.html" . }}
  </div>
  <div class="footer-legals">
    {{ partial "footer/legals.html" . }}
    {{ if and site.Params.search.active (in site.Params.search.positions "footer") }}
      <div class="footer-search">
        {{ partial "commons/search/button.html" "footer" }}
      </div>
    {{ end }}
    {{ partial "footer/credit.html" . }}
  </div>
</div>
